
// z-index legend
// 1  background colors
// 2  background texture
// 3  slides
//   1 background image or shapes or effects
//   2 text if there is any
// 4 hero tag, quote, button
// 5 header. navigation drop downs
    
@import url('https://fonts.googleapis.com/css?family=Marcellus|Permanent+Marker');
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core"

$marker:    "Permanent Marker", cursive
$marcellus: "Marcellus", serif

$black:     rgb(0, 0, 0)
$slate:     rgb(33, 33, 33)
$concrete:  rgb(100, 100, 100)
$white:     rgb(255, 255, 255)
$red:       rgb(185, 43, 39)
$blue:      rgb(19, 47, 99)
$purple:    rgb(93, 38, 193)
$lightblue: rgb(55, 177, 251)
$pink:      rgb(172, 121, 255)

$primary: $blue
$secondary: $red

// background gradient colors
$linearGradient1: $blue
$linearGradient2: darken($red, 5%)
$linearGradient3: $blue

$radialGradient1: darken($purple, 5%)
$radialGradient2: yellow

$radialGradientOpacity1: .15
$radialGradientOpacity2: .05
$radialGradientOpacity3: 0

body
    background: $slate


.hero
    @include make-row()
    height: 100vh
    flex-direction: column
    background-color: #fafafa
    background-image: linear-gradient(125deg, rgba($linearGradient1, 1) 15%, rgba($linearGradient2, 1) 80%, rgba($linearGradient3, 1) 120% )
    position: relative
    overflow: hidden
    &__bg, &__bg2, &__bg3, &__bg4, &__bg5
        position: absolute
        display: block
        background: transparent
        border-radius: 50%
        width: 100%
        height: 100%
        border-width: 50px
        border-style: solid
        z-index: 3
        top: 50%
        left: 70%
        transform: translate(-50%, -50%)
    &__bg
        border-color: #24c6dc
        max-width: 500px
        max-height: 500px
    &__bg2
        border-color: #3f93cf
        max-width: 400px
        max-height: 400px
    &__bg3
        border-color: #514a9d
        max-width: 300px
        max-height: 300px
    &__bg4
        border-color: $red
        max-width: 200px
        max-height: 200px
    &__bg5
        border-color: $slate
        max-width: 60px        
        max-height: 60px
        border-width: 40px
    .logo
        position: absolute;
        bottom: 40px
        right: 40px
        z-index: 4
        opacity: .15
        transition: opacity 150ms
        &:hover
            opacity: .5


    // glide overwrites
    .glide
        position: absolute
        height: 100%
        z-index: 3
        &__track
            height: 100%
        &__slides
            height: 100%
        &__slide
            position: relative
            overflow: hidden
        &__bullets
            position: absolute
            left: 30px
            top: 50%
            transform: translateY(-50%)
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 100px
        &__bullet
            outline: none
            border: none
            border-radius: 50%
            background-color: rgba($black, .4)
            transition: background-color 400ms
            width: 20px
            height: 20px
            &--active
                background-color: rgba($white, .25)
        &__background, &__background2, &__picture
            position: absolute
            top: 0
            left: 30%
            width: 100%
            height: 100%
        &__background
            z-index: 2
            opacity: .1
            background-image: radial-gradient( circle at 40%, rgba($red, .35) 0%, rgba(yellow, .35) 45%, rgba(orange, .35) 85% )
        &__background2
            background-image: radial-gradient( circle at 40%, rgba(orange, .35) 0%, rgba($purple, .25) 55%, rgba(pink, .05) 95% )
        &__picture
            background-image: url("../assets/background--lock.jpg")
            background-repeat: no-repeat
            background-size: cover
            background-position: -400px center
            opacity: .3


        

    .scroll-more
        position: absolute
        left: 50%
        bottom: 65px
        translateX(-50%)
    &__tag, &__quote, &__button
        position: relative
        z-index: 4
        color: $white
        left: 11%
    &__tag
        top: 15vh
        left: 10%
        //text-shadow: 1px 1px 0 #111
        font-family: $marker
        font-size: 5.5rem
        line-height: 6rem
    &__quote
        top: 17vh
        width: 50%
        max-width: 500px
        border-left: 10px solid rgba(cyan, .55)
        padding-left: 25px
        font-family: $marcellus
        font-size: 1.25rem
    &__button
        max-width: 250px
        top: 19vh
        border: none
        background-color: $red
        font-family: $marcellus
        font-size: 2rem
        padding: 10px 40px
        cursor: pointer
        &:hover
            background-color: lighten($red, 5%)
    &__radial, &__texture
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
    &__radial
        background-image: radial-gradient( circle at 55% 60%, rgba($radialGradient1, $radialGradientOpacity1) 0%, rgba($radialGradient2, $radialGradientOpacity2) 45%, rgba($radialGradient2, $radialGradientOpacity3) 70% )
    &__texture
        background-image: url("../assets/3px-tile.png")
        opacity: .25
        z-index: 2

.scroll-more
    position: relative
    background: transparent
    border: 3px solid $white
    height: 60px
    width: 40px
    border-radius: 19px
    opacity: .125
    &__wheel
        background-color: $white
        width: 3px
        border-radius: 25%
        height: 12px
        position: absolute
        top: 8px
        left: 50%
        transform: translateX(-50%)
        animation-name: scroll
        animation-duration: 2.2s
        animation-timing-function: cubic-bezier(.15,.41,.69,.94)
        animation-iteration-count: infinite

@keyframes scroll 
  0%
      opacity: 0
  10%
      transform: translate(-50%, 0)
      opacity: 1
  100%
      transform: translate(-50%, 10px)
      opacity: 0

.logo
    width: 100%
    max-width: 75px
    height: auto



.header
    display: flex
    flex-direction: row
    z-index: 5
    position: relative
    background: rgba($black, .2)
    padding-bottom: 20px
    &__left
        @include make-col-ready()
        @include make-col(2)
    &__right
        @include make-col-ready()
        @include make-col(10)
        display: flex
        flex-direction: row
        padding-right: 30px



.nav, .support
    @include make-row()
    width: 100%
    justify-content: flex-end
    margin-top: 20px
    &__list
        @include make-col-ready()
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__link
        color: $white
        font-size: 1.25rem
        &:hover
            color: $white


.nav
    &__list
        @include make-col(6)
    &__link
        font-family: $marcellus
        transition: transform 100ms

.support
    &__list
        @include make-col(1.5)
        margin-left: 100px
    &__item
        position: relative
    &__link
        i.fas
            transition: transform 100ms
        &:hover
            i.fas
                transform: scale(2)