
// z-index legend
// 1  background colors
// 2  background texture
// 3  slides
//   1 background image or shapes or effects
//   2 text if there is any
// 4 hero tag, quote, button, scroll more
// 5 header. navigation drop downs
    
// transform: rotateZ(360deg) for enforcing gpu usage if available

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Marcellus|Permanent+Marker')
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core"

$marker:    "Permanent Marker", cursive
$alegreya: "Alegreya Sans SC", sans-serif
$marcellus: $alegreya //"Marcellus", serif


$black:     rgb(0, 0, 0)
$slate:     rgb(33, 33, 33)
$concrete:  rgb(100, 100, 100)
$white:     rgb(255, 255, 255)
$red:       rgb(185, 43, 39)
$blue:      rgb(19, 47, 99)
$purple:    rgb(93, 38, 193)
$lightblue: rgb(55, 177, 251)
$pink:      rgb(172, 121, 255)
$paleblue:  #4A569D
$yellow:    #FFC837
$orange:    #F09819
$rubyred:   #DC2424

$primary: $blue
$secondary: $red

// background gradient colors
$linearGradient1: $blue
$linearGradient2: darken($red, 5%)
$linearGradient3: $blue

$radialGradient1: $purple
$radialGradient2: yellow

$radialGradientOpacity1: .2
$radialGradientOpacity2: .03
$radialGradientOpacity3: 0

@keyframes blockquoteBigBar 
  0%
      transform: translateY(0)
      opacity: 0
  50%
      transform: translateY(-10%)
  100%
      opacity: 1
      transform: translateY(0)

@keyframes blockquoteSmallBar 
  0%
      transform: translateY(-70%)
      opacity: 0
  75%
      opacity: 1
      transform: translateY(10%)
  100%
      transform: translateY(0)

@keyframes scroll 
  0%
      opacity: 0
  10%
      transform: translate(-50%, 0)
      opacity: 1
  100%
      transform: translate(-50%, 10px)
      opacity: 0


body
    background-image: linear-gradient(100deg, $blue -25%, $red 220%)
    
.img-fluid
    height: auto
    max-width: 100%

.hero__button
    border-radius: 10px 35px 35px 10px
    &.blue
        background: rgba($blue, .5)
        &:hover
            background: rgba($blue, 1)
            color: $slate
    &.orange
        background: $orange
        color: $slate
        &:hover
            background: lighten($orange, 10%)
          
    &.white
        border: 2px solid $white
        background: rgba($white, .1)
        &:hover
            background: $white
            color: $slate
    &.tomato
        background: tomato
        color: $slate
        &:hover
            background: lighten(tomato, 10%)

    &.rubyred
        background: $rubyred
        color: $slate
        &:hover
            background: lighten($rubyred, 10%)
          

.hero
    @include make-row()
    height: 100vh
    flex-direction: column
    background-color: #fafafa
    background-image: linear-gradient(125deg, rgba($linearGradient1, 1) 15%, rgba($linearGradient2, 1) 80%, rgba($linearGradient3, 1) 120% )
    position: relative
    overflow: hidden
    &__textbox
        position: absolute
        z-index: 3
        color: $white
        top: 23vh
        left: 11%
    &__button, &__tag
        transition: opacity 1500ms
        transform: rotateZ(360deg)
    &__quote
        transition: transform 1000ms, opacity 750ms
        transform: translateX(-10px) rotateZ(360deg)
    &__tag
        //text-shadow: 1px 3px 0px #111
        font-family: $marker
        font-size: 5.5rem
        line-height: 6rem
        &--the
            padding-left: 310px


    &__quote
        opacity: 0
        left: -35px
        max-width: 400px
        padding-left: 35px
        margin-top: 30px
        margin-bottom: 30px
        font-family: $marcellus
        font-size: 1.25rem
        position: relative
        transition-delay: 100ms
        &::after, &::before
            content: ''
            transform: rotateZ(360deg)
            border-color: rgba(cyan, .45)
            border-style: solid
            position: absolute
            display: block
            left: 0
            bottom: 0
            width: 1px
        &::after
            border-radius: 0 10px 0 10px
            border-width: 5px
            height: 47%
            left: 5px
        &::before
            border-radius: 10px 0 10px 0
            border-width: 5px
            height: 80%
    &__button
        transition-delay: 140ms
        opacity: 0
        max-width: 350px
        border: none
        background-color: $red
        font-family: $marcellus
        font-size: 2rem
        text-transform: uppercase
        padding: 10px 40px 10px 38px
        cursor: pointer
        color: $white
        &:hover
            background-color: lighten($red, 5%)
    // glide overwrites
    .glide
        position: absolute
        height: 100%
        z-index: 3
        &__track
            height: 100%
        &__slides
            height: 100%
        &__slide
            position: relative
            overflow: hidden
            .hero__tag
                opacity: 0
            // customizing 2 blockquote bars for each slide
            &:nth-of-type(1)
                .hero__quote
                    &::before, &::after
                        border-color: rgba(white, .35)
                        bottom: 10% 
                    &::after
                        bottom: 15%
            &:nth-of-type(2)
                .hero__quote
                    &::before, &::after
                        bottom: 10% 
                        border-color: rgba($orange, .35)
                    &::before
                        border-radius: 0px 10px 0px 10px
                    &::after
                        bottom: 30%
                        border-radius: 10px 0 10px 0
            &:nth-of-type(3)
                .hero__quote
                    &::before, &::after
                        bottom: 15% 
                        border-color: rgba($rubyred, .35)
                    &::after
                        bottom: 5%
            &:nth-of-type(4)
                .hero__quote
                    &::before, &::after
                        border-color: rgba(tomato, .35)
                        bottom: 15% 
                    &::before
                        border-radius: 0px 10px 0px 10px
                    &::after
                        bottom: 40%
                        border-radius: 10px 0 10px 0
        &__slide--active
            .hero__quote
                // 2 bars next to blockquote animation
                &::before,&::after
                    animation-duration: 1s
                    animation-timing-function: ease-in-out
                    animation-iteration-count: 1
                &::after
                    animation-name: blockquoteSmallBar
                &::before
                    animation-name: blockquoteBigBar
            .hero__tag, .hero__quote, .hero__button
                opacity: 1
            .hero__button, .hero__quote
                transform: translateX(0)
        &__bullets
            position: absolute
            left: 30px
            top: 50%
            transform: translateY(-50%)
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 150px
        &__bullet
            outline: none
            border: none
            border-radius: 50%
            background-color: rgba($black, .4)
            transition: background-color 400ms
            width: 20px
            height: 20px
            &--active
                background-color: rgba($white, .25)
        &__background, &__background2, &__picture, &__picture2
            position: absolute
            top: 0
            left: 38%
            width: 100%
            height: 100%
            opacity: 1
        &__background, &__background2
            z-index: 2
        &__background
            background-image: linear-gradient( 230deg, rgba($rubyred, .5) -10%, rgba($pink, .25) 55%, rgba($paleblue, .6) 100% )
        &__background2
            background-image: linear-gradient( 40deg, rgba($orange, .6) 0%, rgba($purple, .25) 55%, rgba($pink, .5) 100% )
        &__picture, &__picture2
            background-repeat: no-repeat
            background-size: cover
            background-position: -400px 100px
            opacity: 1
        &__picture
            background-image: url("../assets/background--bokeh.jpg")
            background-position: 0 100px
        &__picture2
            background-image: url("../assets/background--business.jpg")


    .scroll-more
        position: absolute
        left: 50%
        bottom: 35px
        translateX(-50%)
        z-index: 4
    &__radial, &__texture
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
    &__radial
        transform: rotateZ(360deg)
        background-image: radial-gradient( circle at 55% 60%, rgba($radialGradient1, $radialGradientOpacity1) 0%, rgba($radialGradient2, $radialGradientOpacity2) 45%, rgba($radialGradient2, $radialGradientOpacity3) 70% )
    &__texture
        background-image: url("../assets/3px-tile.png")
        opacity: .25
        z-index: 2

.scroll-more
    position: relative
    background: transparent
    border: 3px solid $white
    height: 60px
    width: 40px
    border-radius: 19px
    opacity: .125
    &__wheel
        transform: rotateZ(360deg)
        background-color: $white
        width: 3px
        border-radius: 25%
        height: 12px
        position: absolute
        top: 8px
        left: 50%
        transform: translateX(-50%)
        animation-name: scroll
        animation-duration: 2.2s
        animation-timing-function: cubic-bezier(.15,.41,.69,.94)
        animation-iteration-count: infinite


.header
    display: flex
    flex-direction: row
    z-index: 5
    position: relative
    background: rgba($black, .2)
    padding-top: 10px
    padding-bottom: 10px
    &__left
        @include make-col-ready()
        @include make-col(2)
        padding-top: 20px
        padding-left: 35px
        .logo
            z-index: 4
            opacity: .1
            height: 60px
            transition: opacity 150ms
            &:hover
                opacity: .5
    &__right
        @include make-col-ready()
        @include make-col(10)
        display: flex
        flex-direction: row
        padding-right: 30px



.nav, .support
    @include make-row()
    width: 100%
    justify-content: flex-end
    align-items: center
    &__list
        @include make-col-ready()
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__link
        color: $white
        font-size: 1.2rem
        padding: 10px 18px 9px
        border-radius: 10px 20px 20px 10px
        text-transform: uppercase
        letter-spacing: .05rem
        &:hover
            color: $white
            background: rgba($lightblue, .65)
            text-decoration: none


.nav
    &__list
        @include make-col(6)
    &__link
        font-family: $marcellus
        transition: transform 100ms

.support
    &__list
        @include make-col(1.5)
        margin-left: 100px
    &__item
        position: relative
    &__link
        i.fas
            transition: transform 100ms
        &:hover
            i.fas
                transform: scale(2)