.header
    display: flex
    flex-direction: row
    z-index: 5
    position: relative
    padding-top: 22px
    padding-bottom: 19px
    overflow-y: hidden
    &::after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 30px
        height: 3px
        width: 95%
        background-image: linear-gradient(90deg, transparent 0%, rgba($white, .35) 50%, transparent 100%)
    &__left
        @include make-col-ready()
        @include make-col(2)
        padding-left: 35px
        .logo
            z-index: 4
            opacity: .1
            height: 60px
            transition: opacity 150ms
            &:hover
                opacity: .5
    &__right
        @include make-col-ready()
        @include make-col(10)
        display: flex
        flex-direction: row

    
.nav, .support
    @include make-row()
    width: 100%
    justify-content: flex-end
    align-items: center
    &__list
        @include make-col-ready()
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__link
        color: $white
        font-size: 1.2rem
        padding: 10px 18px 9px
        border-radius: 10px 20px 20px 10px
        text-transform: uppercase
        letter-spacing: .05rem
        position: relative
        &:hover
            color: $white
            text-decoration: none

.nav
    &__list
        @include make-col(6)
    &__link
        font-family: $marcellus
        transition: transform 100ms
        &::before
            content: ''
            display: block
            mask-image: linear-gradient(to bottom, transparent 0%, rgba(black, .05) 25%, black 100%)
            background-image: linear-gradient(85deg, #FAFFD1 -50%, #A1FFCE 150%)
            transform: translateY(100%)
            transition: transform 200ms ease-in-out
            position: absolute
            height: 100px
            width: 100%
            opacity: .5
        &:hover, &.active
            &::before
                transform: translateY(-37px)


.support
    &__list
        @include make-col(1.5)
        margin-left: 100px
    &__item
        position: relative
    &__link
        i.fas
            transition: transform 100ms
        &:hover
            i.fas
                transform: scale(2)