// todo: move to buttons file
.btn {
    background: none;
    border: 0;
    outline: 0;
    font-family: $alegreya;
    font-weight: 700;
    color: $blue;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.btn--arrow {
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    &:after {
        @extend %fa-icon;
        @extend .fas;
        margin-left: 10px;

        content: fa-content($fa-var-long-arrow-alt-right);
    }
    &:hover {
        &:after {
            transform: translateZ(0);
            animation-name: buttonArrowHover;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes buttonArrowHover {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.stats {
    @include make-row;
    padding-top: 100px;
    padding-bottom: 100px;

    h1 {
        font-family: $marker;
        font-size: 4rem;
        letter-spacing: 0.1rem;
    }

    h4 {
        font-family: $alegreya;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.75rem;
        letter-spacing: 0.1rem;
    }

    h2 {
        font-family: $alegreya;
        font-weight: 700;
        color: $blue;
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    h5 {
        font-family: $marker;
        color: darken($red, 1%);
        letter-spacing: 0.05rem;
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    &__triforce {
        @include make-col-ready;
        @include make-col(5);
        @include make-col-offset(1.15);
        color: $white;
    }

    &__blogpost {
        @include make-col-ready;
        @include make-col(3.5);
        @include make-col-offset(0.65);

        background-color: rgba($white, 0.7);
        border-radius: 50px 5px 50px 5px;
        padding: 30px 30px 50px;
        font-size: 1.125rem;
    }
}

$triforceyellow: #e6e467;

.triforce {
    position: relative;
    margin-top: 60px;

    &__triangle {
        position: absolute;
        left: 0;
        top: 240px;

        svg {
            filter: drop-shadow(10px 10px 0px rgba(darken(yellow, 15%), 0.7));
        }

        &::before,
        &::after {
            z-index: 4;
            content: "";
            display: block;
            color: transparent;
            background-color: darken(yellow, 20%);
            text-shadow: 2px 2px 3px rgba(white, 0.2);
            position: absolute;
            top: 77%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-family: $alegreya;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.5rem;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
        }
        &::before {
            content: "10k+";
            top: 53%;
            font-size: 3.75rem;
            line-height: 3rem;
        }
        &::after {
            content: "supported devices";
        }

        &:nth-of-type(2) {
            left: 44%;
        }

        &:nth-of-type(3) {
            left: 22%;
            top: -20px;
        }
    }
}
