.stats {
    @include make-row;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;

    &__triforce {
        @include make-col-ready;
        @include make-col(4);
        color: $white;
    }

    &__blogpost {
        @include make-col-ready;
        @include make-col(4);

        background-color: rgba($white, 0.7);
        border-radius: 50px 5px 50px 5px;
        padding: 25px 30px;
        font-size: 1.125rem;
    }
}
